.navBar-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    height: 70px;
    position: absolute;
    top: 0;
}

.navBar-container  > div > p {
    font-size: 20px;
}

.title {
    font-size: 15px;
    padding-left:20px;
    font-weight: bold;
}

.navBar-container_title {
    display: flex;
    align-items: center;
}


.navBar-container_title > div > img {
    width:70px;
    padding-left:20px ;
    cursor:pointer;
}