.sidebar {
    position: absolute;
    top: 91px;
    background-color: white;
    height:100vh;
    width: 200px;
    padding: 20px;
    left:0;
    margin-right: 100px;
}

.sidebutton:active {
    transition: 0.3s all ease;
    border:1px solid #4258FF;
    color: #4258FF;
    background-color: #f3f3f3;
}



.type {
    margin-bottom: 50px;
}

.type > p {
    margin-bottom: 20px;
}